body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

canvas {
    border: 1px solid #000;
}

.crt-container {
    position: relative;
    width: 800px;
    height: 600px;
}

.crt-overlay {
    position: absolute;
    top: -15%;
    left: -10%;
    width: 150%;
    height: 130%;
    background: url('assets/crt-overlay.png') no-repeat center center;
    background-size: cover;
    @media (max-width: 768px) {
        display: none;
    }
}

#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .crt-container {
        width: 100%;
        height: 100%;
    }

    #gameCanvas {
        width: 100%;
        height: 100%;
    }
}




